/* estilos del head */ 
head {
    text-align: center;
    position: relative;
}

h1 {
    text-align: center;
    position: relative;
    color: darkslategray;
    font-family: fantasy;
}

/* estilos del body */ 
body {
    background-color: #cec8c8b0;
    color: darkslategray;
    font-size: 20px;
    font-family: fantasy;
}

/* estilos etiquetas */ 
.formlabel {
    display: block;
    padding: 10px;
    cursor: pointer;
}

/* estilos inputs */ 
.grupoforminput {
position: relative;
}


/* estilos type text */ 
input[type=text] {
  background-color: #cec8c817;
  position: relative;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  transition: 0.4s ease-in-out;
  text-align: center;
  font-size: 17px;
  }
input[type=text]:focus {
    position: relative;
    border-bottom: 3px solid #e5f877;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 25px;
}

/* estilos type date */ 
input[type=date] {
    background-color: #cec8c817;
    ;
    position: relative;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    transition: width 0.4s ease-in-out;
    text-align: center;
    font-size: 17px;
}
input[type=date]:focus {
    position: relative;
    border-bottom: 3px solid #e5f877;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 25px;
}

/* estilos type radio */ 
input[type=radio] {
width: 30px;
height: 17px;
    font-size: 17px;
    position: relative;
    vertical-align:middle;
    float: right;
    margin-right:1200px;
    margin-top: 6px;
   }

/* estilos type email */ 
input[type=email] {
    background-color: #cec8c817;
    position: relative;
    width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  transition: width 0.4s ease-in-out;
  text-align: center;
  font-size: 17px;
}
input[type=email]:focus {
    position: relative;
    border-bottom: 3px solid #e5f877;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 25px;
}

/* estilos type password */ 
input[type=password] {
    background-color: #cec8c817;
    position: relative;
    width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  transition: width 0.4s ease-in-out;
  text-align: center;
  font-size: 17px;
}
input[type=password]:focus {
    position: relative;
    border-bottom: 3px solid #e5f877;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 25px;
}

/*estilos del checkbox*/
    input[type=checkbox] {
        margin-left: 15px;
    }

/* estilos type button y submit */ 
    input[type=button], input[type=submit], input[type=reset] {
        position: relative;
        background-color: #000;
        border: none;
        width: 20%;
        color: white;
        padding: 16px 32px;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        transition-duration: 1s; 
        transition-timing-function: linear;
        font-size: 17px;
      }
input[type=submit]:hover {
    position: relative;
    background-color: #428565;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 17px;
    box-shadow: 3px 0px 30px rgb(118, 180, 126);
}

/* estilos parrafos */ 
p {
    color: black;
    font-family: sans-serif bold;
    font-size: 17px;
    display: inline;
    }
    
    /* estilos del placeholder */ 
    ::placeholder {
        color: grey;
        opacity: 0.5;
       }
    
/* estilos del error*/
.forminputerror {
font-size: 12px;
margin-bottom: 0;
display: none;
}
.forminputerror-activo {
   display: block;
    }
    /*estilos mensaje error*/
.mensajeerror {
    font-size: 15px;
    color: #bb2929;
    padding: 15px;
    font-style: italic;  
    display: none; 
}
.mensajeerror-activo {
display: block;
}

/*estilos del mensaje exito*/
.formmensajeeexito {
    font-size: 15px;
    color: rgb(82, 216, 82);
    padding: 15px;
    display: none;
}
.formmensajeeexito-activo {
    display: block;
}

/* estilos validaciones*/
.grupoform-incorrecto .formlabel {
color: #bb2929;
}
.grupoform-incorrecto .forminput {
    border-bottom: 3px solid #bb2929;
    }

    