head {
    text-align: center;
    position: relative;
}

h1 {
    text-align: center;
    position: relative;
    color: darkslategray;
    font-family: fantasy;
}

body {
    background-color: #cec8c8b0;
    color: darkslategray;
    font-size: 20px;
    font-family: fantasy;
}

p {
color: black;
font-family: sans-serif bold;
font-size: 15px;
display: inline;
}


::placeholder {
    color: grey;
    opacity: 0.5; }

input[type=text] {
    background-color: #cec8c817;
    position: relative;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  transition: 0.4s ease-in-out;
  text-align: center;
  font-size: 17px;
  }
input[type=text]:focus {
    position: relative;
    border-bottom: 3px solid #e5f877;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 17px;
}

input[type=date] {
    background-color: #cec8c817;
    ;
    position: relative;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    transition: width 0.4s ease-in-out;
    text-align: center;
    font-size: 17px;
}
input[type=date]:focus {
    position: relative;
    border-bottom: 3px solid #e5f877;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 17px;
}

input[type=radio] {
width: 30px;
height: 17px;
    font-size: 17px;
    position: relative;
    vertical-align:middle;
    float: right;
    margin-right:1200px;
    margin-top: 6px;
   }

input[type=email] {
    background-color: #cec8c817;
    position: relative;
    width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  transition: width 0.4s ease-in-out;
  text-align: center;
  font-size: 17px;
}
input[type=email]:focus {
    position: relative;
    border-bottom: 3px solid #e5f877;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 17px;
}

input[type=password] {
    background-color: #cec8c817;
    position: relative;
    width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  transition: width 0.4s ease-in-out;
  text-align: center;
  font-size: 17px;
}
input[type=password]:focus {
    position: relative;
    border-bottom: 3px solid #e5f877;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 17px;
}


    input[type=button], input[type=submit], input[type=reset] {
        position: relative;
        background-color: #000;
        border: none;
        width: 20%;
        color: white;
        padding: 16px 32px;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        transition-duration: 1s; 
        transition-timing-function: linear;
        font-size: 17px;
      }
input[type=submit]:hover {
    position: relative;
    background-color: #428565;
    width: 30%;
    outline: none;
    text-align: center;
    font-size: 17px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

